._1 {
  padding: 8px;
}
._2 {
  margin: 14px;
}
._3 {
  font-size: 10px;
}
._4 {
  font-size: 20px;
}
._5 {
  border: none;
  display: block;
  width: 100%;
  font-weight: 500;
  margin: 0px;
  background-color: rgba(158, 158, 158, 0.2);
  color: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-transform: uppercase;
  outline: none;
  tap-highlight-color: transparent;
  overflow: hidden;
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12);
  min-height: 36px;
  line-height: 36px;
  padding: 0 8px;
  border-radius: 2px;
  font-size: 14px;
}
._5:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
._5._6 {
  min-height: 32px;
  line-height: 32px;
}
._7 {
  display: block;
}
._8 {
  display: inline-block;
  position: relative;
  margin: 0 8px;
  min-width: 64px;
}
._9 {
  border: none;
  display: block;
  width: 100%;
  font-weight: 500;
  margin: 0px;
  color: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  text-transform: uppercase;
  outline: none;
  tap-highlight-color: transparent;
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  overflow: hidden;
  cursor: pointer;
  min-height: 36px;
  line-height: 36px;
  padding: 0 8px;
  border-radius: 2px;
  font-size: 14px;
}
._9._a {
  min-height: 32px;
  line-height: 32px;
}
._b {
  display: block;
}
._c {
  display: inline-block;
  position: relative;
  margin: 0 8px;
  min-width: 64px;
}
._d {
  border: none;
  display: block;
  position: relative;
  font-weight: 500;
  color: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  text-transform: uppercase;
  outline: none;
  tap-highlight-color: transparent;
  text-align: center;
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 50%;
  width: 100%;
}
._e {
  display: inline-block;
  width: 56px;
  height: 56px;
  line-height: 56px;
  border-radius: 28px;
}
._e._f {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
}
._g {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  box-sizing: border-box;
  padding: 0 8px;
  height: 56px;
  line-height: 56px;
}
._h {
  display: inline-block;
  line-height: 52px;
}
._i {
  display: block;
}
._j {
  margin-right: 8px;
}
._k {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0 16px;
  line-height: 48px;
  height: 48px;
}
._k._l {
  line-height: 32px;
  height: 32px;
}
._m {
  font-size: 14;
  font-family: Arial;
  width: 768;
  padding: 8px 0;
  margin: 0 16px;
}
._n {
  height: 1px;
  border: none;
  margin: 0px;
}
._o {
  margin-right: 16px;
}
._p {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0 16px;
  line-height: 56px;
  height: 56px;
}
._p._q {
  line-height: 48px;
  height: 48px;
}
._r {
  font-size: 14px;
  font-family: Arial;
  padding: 16px 0;
  margin: 0 16px;
}
._s {
  height: 1px;
  border: none;
  margin: 0px;
}
@media only screen and (max-width: 767px) {
  ._3 {
    font-size: 11px;
  }
  ._4 {
    font-size: 12px;
  }
}
@media only screen and (min-width: 768px) {
  ._4 {
    font-size: 20px;
  }
  ._5._6 {
    min-height: 32px;
    line-height: 32px;
  }
  ._5 {
    min-height: 36px;
    line-height: 36px;
    padding: 0 8px;
    border-radius: 2px;
    font-size: 14px;
  }
  ._8 {
    margin: 0 8px;
    min-width: 64px;
  }
  ._9._a {
    min-height: 32px;
    line-height: 32px;
  }
  ._9 {
    min-height: 36px;
    line-height: 36px;
    padding: 0 8px;
    border-radius: 2px;
    font-size: 14px;
  }
  ._c {
    margin: 0 8px;
    min-width: 64px;
  }
  ._g {
    padding: 0 8px;
    height: 56px;
    line-height: 56px;
  }
  ._h {
    line-height: 52px;
  }
  ._j {
    margin-right: 8px;
  }
  ._k._l {
    line-height: 32px;
    height: 32px;
  }
  ._k {
    line-height: 48px;
    height: 48px;
  }
  ._m {
    font-size: 14;
    font-family: Arial;
    width: 768;
    padding: 8px 0;
    margin: 0 16px;
  }
  ._o {
    margin-right: 16px;
  }
  ._p._q {
    line-height: 48px;
    height: 48px;
  }
  ._p {
    line-height: 56px;
    height: 56px;
  }
  ._r {
    font-size: 14px;
    font-family: Arial;
    padding: 16px 0;
    margin: 0 16px;
  }
}